/* font dari google fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");

/*  :root ini merupakan pseudo element global untuk mewakili dokumen atau sebagai parent utama. */
:root {
  --main-color: #d9d9d9;
  --main2-color: #cee5d0;
  --btn-rm: #5dcaa0;
  --black: #222;
  --white: #fff;
  --grey: #171717;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(7, 7, 7, 0.3);
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* ukuran huruf pada title dan navbar */
html {
  font-size: 50%;
  overflow-x: hidden;
}

/* untuk seluruh scrollbar */
html::-webkit-scrollbar {
  width: 1rem;
}

/* Memilih progress bar pada scroll */
html::-webkit-scrollbar-track {
  background-color: var(--white);
}

/* Memilih handle scroll (dapat diseret) */
html::-webkit-scrollbar-thumb {
  background-color: var(--main2-color);
}

/* SECTION biar bagus di tengah*/
section {
  padding: 5rem 10%;
}

/* class btn slider load more di home  */
.btn {
  display: inline-block;
  background: var(--btn-rm);
  margin-top: 1rem;
  color: var(--black);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--light-black);
  color: var(--light-bg);
}

/* tombol daftar */
#btn-daftar {
  display: inline-block;
  background: var(--btn-rm);
  border-radius: 30px; /* rounded di bagian sisi*/
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  color: var(--black);
  margin-left: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
}

#btn-daftar:hover {
  background: var(--light-black);
  text-decoration: none;
  color: var(--light-bg);
}

/* HEADER */
.header {
  position: sticky;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--white);
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

/* bagian" di navbar */
.header .navbar a {
  font-size: 1.8rem;
  margin-left: 2rem;
  color: var(--black);
  font-style: bold;
}

.header .navbar a:hover {
  color: var(--main-color);
}

/* menu bar di samping kanan atas */
#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
  font-style: bold;
}

/* banner home atas */
.home {
  padding: 0;
}

.home .slide {
  background: url(https://images.unsplash.com/photo-1531058240690-006c446962d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 50rem;
}

.home .slide .content {
  width: 85rem;
}

.home .slide .content span {
  display: block;
  font-size: 4rem;
  color: red;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.home .slide .content h3 {
  display: block;
  font-size: 4rem;
  color: var(--light-bg);
  padding-bottom: 1rem;
  font-weight: bolder;
  line-height: 1;
  padding: 3rem 0;
  text-shadow: var(--black);
}

/* banner home bawah */
.home {
  padding: 0;
}

.home-banner-bawah .slide {
  background: url(https://images.unsplash.com/photo-1501523460185-2aa5d2a0f981?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1231&q=80);
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 50rem;
}

.home-banner-bawah.slide .content {
  width: 85rem;
}

.home-banner-bawah .slide .content span {
  display: block;
  font-size: 4rem;
  color: red;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.home-banner-bawah.slide .content h3 {
  display: block;
  font-size: 4rem;
  color: var(--light-bg);
  padding-bottom: 1rem;
  font-weight: bolder;
  line-height: 1;
  padding: 3rem 0;
  text-shadow: var(--black);
}

/* HOME-EVENT */
.home-event {
  background: var(--white);
}

.home-event .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  /* gap => memberikan jarak antar kolom yang telah dibagi */
  gap: 2rem;
}

.home-event .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--light-bg);
}

.home-event .box-container .box .image {
  height: 25rem;
  overflow: hidden;
}

.home-event .box-container .box .image img {
  height: 100%;
  width: 100;
  object-fit: cover;
  transition: 0.3s linear;
}

.home-event .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.home-event .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--grey);
}

.home-event .box-container .box .content p {
  font-size: 1.3rem;
  color: var(--grey);
  line-height: 2;
  padding: 1rem 0;
}

.home-event .load-more {
  text-align: center;
  margin-top: 2rem;
}

/* HOME-KATEGORI */
/* .home-kategori {
  background: var(--main2-color);
} */

.home-kategori .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  /* gap => memberikan jarak antar kolom yang telah dibagi */
  gap: 3rem;
}

.home-kategori .box-container .box {
  border-radius: 20px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background: var(--light-bg);
  padding: 20px;
}

.home-kategori .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  border-radius: 20px;
}

.home-kategori .box-container .box .image img {
  height: 100%;
  width: 100;
  object-fit: cover;
  transition: 0.3s linear;
}

.home-kategori .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.home-kategori .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--grey);
}

.home-kategori .box-container .box .content p {
  font-size: 1.3rem;
  color: var(--grey);
  line-height: 2;
  padding: 1rem 0;
}

.home-kategori .load-more {
  text-align: center;
  margin-top: 2rem;
}

/* home about */
.home-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-about .image {
  flex: 1 1 41rem;
}

.home-about .image img {
  width: 100%;
}

.home-about .content {
  flex: 1 1 41rem;
  padding: 3rem;
  background: var(--light-bg);
  margin: 3rem;
}

.home-about .content h3 {
  font-size: 3rem;
  color: var(--grey);
}

.home-about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--grey);
}

/* banner home bawah */
.home {
  padding: 0;
}

.home-about-us .slide {
  background: url(https://images.unsplash.com/photo-1515168833906-d2a3b82b302a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 50rem;
}

.home-about-us .slide .content {
  width: 85rem;
}

.home-about-us .slide .content span {
  display: block;
  font-size: 4rem;
  color: red;
  padding-bottom: 1rem;
  font-weight: bolder;
}

.home-about-us .slide .content h3 {
  display: block;
  font-size: 4rem;
  color: var(--light-bg);
  padding-bottom: 1rem;
  font-weight: bolder;
  line-height: 1;
  padding: 3rem 0;
  text-shadow: var(--black);
}

/* ABOUT */
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.about .image {
  flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  flex: 1 1 40rem;
  text-align: center;
}

.about .content h3 {
  font-size: 3rem;
  color: var(--grey);
}

.about .content p {
  font-size: 1.3rem;
  color: var(--grey);
  line-height: 2;
  padding: 1rem 0;
}

.about .content .icons-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-end;
}

.about .content .icons-container .icons {
  background: var(--light-bg);
  padding: 2rem;
  flex: 1 1 16rem;
}

.about .content .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: var(--main2-color);
}

.about .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--light-black);
  display: block;
}

/*Login*/

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  height: 451px;
  margin: 6rem auto 8.1rem auto;
  width: 370px;
}

.card-content {
  padding: 12px 44px;
}

.card-title {
  font-size: 2rem;
  letter-spacing: 1px;
  padding-bottom: 35px;
  padding-top: 50px;
  text-align: center;
  font-weight: bolder;
}

.form-content {
  background: #d9d9d9;
  border-radius: 21px;
  height: 2rem;
  padding: 18px;
  margin: 10px;
  width: 90%;
  border: none;
  padding-top: 14px;
}

.btn-login {
  background: #d9d9d9;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: black;
  font-weight: bolder;
  height: 30px;
  margin: 0 auto;
  margin-top: 25px;
  transition: 0.25s;
  width: 153px;
}

.btn-login:hover {
  box-shadow: var(--box-shadow);
}

.signup {
  color: black;
  font-weight: bolder;
  font-size: 8pt;
  margin-top: 35px;
  text-align: right;
}

.signup a {
  color: var(--light-black);
}

/* form upload, post, event */
.flex-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: auto;
  margin: 50px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.text-center {
  font-size: 32px;
  font-weight: 700;
}

.form {
  padding: 70px 300px;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 3px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

input[type="file"] {
  width: 100%;
  padding: 12px 18px;
  margin: 3px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

select[name="kategori"] {
  width: 100%;
  padding: 12px 18px;
  margin: 3px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

textarea[name="desc"] {
  width: 100%;
  padding: 12px 18px;
  margin: 3px 0;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
}

p {
  text-align: justify;
  overflow: hidden;
}

/* FOOTER */
.footer {
  /* background: url(./footer-bg.jpg); */
  background-color: var(--main-color);
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* gap => memberikan jarak antar kolom yang telah dibagi */
  gap: 3rem;
}

.footer .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.footer .box-container .box a {
  color: var(--black);
  font-size: 1.5rem;
  padding-bottom: 1rem;
  display: block;
}

/* bergerak ketika diklik */
.footer .box-container .box a i {
  color: var(--main-color2);
  padding-right: 0.5rem;
  transition: 0.3s linear;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 0.1rem solid var(--black);
  font-size: 2rem;
  color: var(--black);
}

.footer .credit span {
  color: var(--light-black);
}
